<section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="/"><b>Choice Coin</b></a>
      </div>
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="../"><span></span></a></div>
        <ul class="nav-list">
            <li>
              <a href = "/start">Start Voting Process</a>
            </li>
            <li>
              <a href = '/create'>Add voter</a>
            </li>
            <li>
              <a href="/vote">Vote</a>
            </li>
      
            <li>
              <a href = "/end">End Voting Process</a>
            </li>
            <li>
              <a href = '/Upcoming'>Upcoming Session</a>
            </li>
            <li>
              <a href = '/about'>About</a>
            </li>
            
        </ul>
      </nav>
    </div>
  </section>
